@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ol,
ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0.2rem;
  line-height: 2.2rem;
  color: #333;
  font-size: 1.6rem;
}

.heading-quartary, .heading-tertiary, .heading-secondary, .heading-primary {
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  color: #333;
  font-weight: 700;
}

.heading-primary {
  font-size: 5.8rem;
  line-height: 1.5;
  color: #fff;
  animation: moveInLeft 1s ease-out;
}

.heading-secondary {
  font-size: 3.2rem;
  line-height: 3.6rem;
}

.heading-tertiary {
  font-size: 2rem;
  line-height: 2.8rem;
}

.heading-quartary {
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.paragraph {
  color: #5c5c5c;
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-style: italic;
}
.paragraph--header {
  font-style: normal;
  animation: moveInRight 1s ease-out;
  color: #fff;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.underline {
  display: inline-block;
  width: 72px;
  height: 2px;
  background-color: #4d8cf5;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding: 1rem 3rem;
  border-radius: 1rem;
  border: 1px solid #4d8cf5;
  color: #fff;
  margin: 1rem;
  transition: all 300ms ease-in-out;
}
.btn--blue {
  background-color: #4d8cf5;
}
.btn--transparent {
  background-color: transparent;
}
.btn:hover {
  transform: scale(1.07) translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: scale(1.03) translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--blue:hover {
  background-color: #222;
  border: 1px solid #222;
}
.btn--transparent:hover {
  background-color: #4d8cf5;
}
.btn--animated {
  animation: moveInBottom 0.75s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.btn-component {
  padding: 3.5rem;
  text-align: center;
}
.btn-component > *:not(:last-child) {
  margin-bottom: 3rem;
}
.btn-component .btn--transparent {
  color: #000;
}
.btn-component .btn--transparent:hover {
  color: #fff;
}

.overlay {
  position: relative;
  max-width: 100%;
  align-items: center;
}
.overlay__img {
  display: block;
}
.overlay__background {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(77, 140, 245, 0.75);
  opacity: 0;
  z-index: 1;
  transition: all 500ms ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay__content {
  opacity: 0;
  transform: translateY(3rem);
  transition: all 500ms ease-out;
  transition-delay: 100ms;
  display: flex;
}
.overlay__content > *:not(:last-child) {
  margin-right: 1rem;
}
.overlay__content h3 {
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
.overlay__svg-wrapper {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width: 3.2rem;
  height: 3.2rem;
  background-color: #222;
  transition: all 500ms ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay__svg {
  fill: #fff;
  width: 50%;
  height: 50%;
  transition: all 300ms ease-in-out;
}
.overlay:hover .overlay__background {
  opacity: 1;
}
.overlay:hover .overlay__content {
  opacity: 1;
  transform: translateY(0);
}
.overlay__svg-wrapper:hover {
  background-color: #fff;
}
.overlay__svg-wrapper:hover .overlay__svg {
  fill: #4d8cf5;
}

.about-box {
  display: flex;
  align-items: center;
}
.about-box__text {
  flex: 0 1 50%;
}
.about-box__image {
  flex: 0 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}
.portfolio__card {
  display: block;
  flex: 0 0 25%;
}
@media only screen and (max-width: 56.25em) {
  .portfolio__card {
    flex: 0 0 50%;
  }
}
@media only screen and (max-width: 37.5em) {
  .portfolio__card {
    flex: 0 0 100%;
  }
}
.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  grid-gap: 4rem;
  align-items: start;
}
.services__svg {
  fill: #4d8cf5;
  height: 3.6rem;
  width: 3.6rem;
}
.services__card > *:not(:last-child) {
  margin-bottom: 2rem;
}

.team {
  display: flex;
}
.team__card {
  padding: 1.5rem;
}
.team__card > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

.head-secondary-group {
  text-align: center;
  margin-bottom: 4rem;
}
.head-secondary-group > *:not(:last-child) {
  margin-bottom: 2rem;
}

.container {
  display: grid;
  grid-template-rows: 85vh;
  grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end];
  row-gap: 4.8rem;
}

.content-wrapper {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}

.header {
  padding: 3.2rem 1.5rem;
  color: #fff;
  grid-column: full-start/full-end;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../img/hero-medium.jpg);
  background-position: top;
  background-size: cover;
  text-align: center;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.header .content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header__text-box {
  max-width: 90rem;
}
.header__text-box > *:not(:last-child) {
  margin-bottom: 3rem;
}
.header__button-group {
  margin-top: 4rem;
}

.navbar {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: moveInLeft 1s ease-out;
}
.navbar__logo img {
  width: 93px;
}
.navbar__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  animation: moveInRight 1s ease-out;
}
.navbar__link, .navbar__link:link, .navbar__link:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding: 3rem 2rem;
  color: #fff;
  transition: all 300ms ease-in-out;
}
.navbar__link:hover {
  color: #4d8cf5;
}
.navbar__link:active {
  color: #fff;
}
.navbar__link.active {
  color: #4d8cf5;
}
.navbar--header {
  align-self: stretch;
}

.section {
  padding: 0 1.5rem;
}
.section--thin {
  grid-column: center-start/center-end;
  margin-top: 4.8rem;
}
.section--wide {
  grid-column: full-start/full-end;
  padding: 0;
}