@import url("https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css");
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes moveInTopNav {
  0% {
    transform: translateY(-7rem);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes moveInTopNav {
  0% {
    transform: translateY(-7rem);
  }
  100% {
    transform: translate(0);
  }
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 29.9375em) {
  html {
    font-size: 43.75%;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ol,
ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 2.2rem;
  color: #333;
  font-size: 1.6rem;
}

.heading-quartary, .heading-tertiary, .heading-secondary, .heading-primary {
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  color: #333;
  font-weight: 700;
}

.heading-primary {
  font-size: 5.8rem;
  line-height: 1.5;
  color: #fff;
  -webkit-animation: moveInLeft 1s ease-out;
  animation: moveInLeft 1s ease-out;
}

.heading-secondary {
  font-size: 3.2rem;
  line-height: 3.6rem;
}

.heading-tertiary {
  font-size: 2rem;
  line-height: 2.8rem;
}
.heading-tertiary--transform-initial {
  text-transform: initial;
}

.heading-quartary {
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.paragraph {
  color: #5c5c5c;
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-style: italic;
}
.paragraph--header {
  font-style: normal;
  -webkit-animation: moveInRight 1s ease-out;
  animation: moveInRight 1s ease-out;
  color: #fff;
  font-size: 1.8rem;
  line-height: 2.8rem;
}
.paragraph--news {
  color: #999;
  font-size: 1.4rem;
  font-weight: 600;
}
.paragraph--style-normal {
  font-style: initial;
}
.paragraph--testimonials-white {
  font-size: 1.8rem;
  line-height: 1.8;
  text-transform: none;
  color: #fff;
}
.paragraph--testimonials-blue {
  color: #4d8cf5;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.paragraph--video {
  font-size: 2.2rem;
  line-height: 3.4rem;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
.paragraph--footer {
  font-style: normal;
  font-size: 1.3rem;
  color: #777;
  font-weight: 600;
  text-transform: uppercase;
}

.underline {
  display: inline-block;
  width: 72px;
  height: 2px;
  background-color: #4d8cf5;
}
.underline--white {
  color: #fff;
}

.img-style {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.align-center {
  text-align: center;
}

.color-white {
  color: #fff;
}

.bg-color-white {
  background-color: #fff;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-end-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.p-sm {
  padding: 1.5rem;
}

.p-lgt {
  padding: 3.5rem;
}

.mt-m {
  margin-top: 2rem;
}

.mb-xlg {
  margin-bottom: 4rem;
}

.cmr-esm > *:not(:last-child) {
  margin-right: 0.5rem;
}

.cmr-sm > *:not(:last-child) {
  margin-right: 1rem;
}

.cmr-m > *:not(:last-child) {
  margin-right: 2rem;
}

.cmr-lg > *:not(:last-child) {
  margin-right: 3rem;
}

.cmb-sm > *:not(:last-child) {
  margin-bottom: 1rem;
}

.cmb-smm > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

.cmb-m > *:not(:last-child) {
  margin-bottom: 2rem;
}

.cmb-lg > *:not(:last-child) {
  margin-bottom: 3rem;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding: 1rem 3rem;
  border-radius: 1rem;
  border: 1px solid #4d8cf5;
  color: #fff;
  margin: 1rem;
  transition: all 300ms ease-in-out;
}
.btn:hover {
  transform: scale(1.07) translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: scale(1.03) translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--animated {
  -webkit-animation: moveInBottom 0.75s ease-out 0.75s;
  animation: moveInBottom 0.75s ease-out 0.75s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
.btn--blue, .btn--blue:link, .btn--blue:visited {
  background-color: #4d8cf5;
}
.btn--blue:hover {
  background-color: #222;
  border: 1px solid #222;
}
.btn--transparent, .btn--transparent:link, .btn--transparent:visited {
  background-color: transparent;
}
.btn--transparent:hover {
  background-color: #4d8cf5;
}
.btn--color-black, .btn--color-black:link, .btn--color-black:visited {
  color: #333;
}
.btn--color-black:hover {
  color: #fff;
}
.btn--submit {
  line-height: inherit;
  letter-spacing: inherit;
  font-size: inherit;
}

.btn-readmore, .btn-readmore:link, .btn-readmore:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: #4d8cf5;
  display: flex;
  align-items: center;
}
.btn-readmore__text {
  color: #4d8cf5;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: color 300ms ease-in-out, margin-right 300ms ease-in-out;
}
.btn-readmore__svg {
  fill: #4d8cf5;
  width: 1.5rem;
  height: 1.5rem;
  transition: fill 300ms ease-in-out;
}
.btn-readmore:hover .btn-readmore__text {
  color: #000;
  margin-right: 2rem;
}
.btn-readmore:hover .btn-readmore__svg {
  fill: #000;
}

.overlay {
  position: relative;
  max-width: 100%;
  align-items: center;
}
.overlay__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.overlay__background {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(77, 140, 245, 0.75);
  opacity: 0;
  z-index: 1;
  transition: opacity 500ms ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay:hover .overlay__background {
  opacity: 1;
}
.overlay__content {
  opacity: 0;
  transform: translateY(3rem);
  transition: opacity 500ms ease-out, transform 500ms ease-out;
  transition-delay: 100ms;
  display: flex;
}
.overlay__content h3 {
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
.overlay:hover .overlay__content {
  opacity: 1;
  transform: translateY(0);
}
.overlay__link {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-color: #222;
  color: #fff;
  transition: background-color 500ms ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay__link:hover {
  background-color: #fff;
  color: #4d8cf5;
}
.overlay__svg {
  fill: currentColor;
  width: 50%;
  height: 50%;
  transition: fill 300ms ease-in-out;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -1;
}

.video-controls__control {
  display: none;
  margin: 2.5rem auto;
  cursor: pointer;
}
.video-controls__control.active {
  display: inline-block;
}
.video-controls__svg {
  fill: #fff;
  width: 8.2rem;
  height: 8.2rem;
  transition: fill 300ms ease-in-out;
}
.video-controls__control:hover .video-controls__svg {
  fill: #4d8cf5;
}

/* header after */
.swiper {
  margin: 0 auto;
  height: 240px;
  width: 80%;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 56.25em) {
  .swiper {
    height: 280px;
  }
}
@media only screen and (max-width: 37.5em) {
  .swiper {
    height: 340px;
  }
}
.swiper .swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  background-color: rgb(255, 255, 255) !important;
}
.swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: white !important;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  align-items: start;
  padding: 1.5rem;
  gap: 4rem;
}
.services__svg {
  fill: #4d8cf5;
  height: 3.6rem;
  width: 3.6rem;
}

.cta__grid {
  width: 70%;
  margin: 0 auto;
  padding: 1.5rem;
  display: grid;
  grid-template-rows: repeat(2, 5rem) 20rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}
.cta__grid > * {
  grid-column: 1/-1;
}
.cta__grid :first-child {
  grid-column: 1/2;
}
.cta__grid :nth-child(2) {
  grid-column: 2/3;
}
@media only screen and (max-width: 56.25em) {
  .cta__grid {
    width: 100%;
  }
}
@media only screen and (max-width: 37.5em) {
  .cta__grid {
    grid-template-rows: repeat(3, 5rem) 20rem;
  }
  .cta__grid :first-child {
    grid-column: 1/-1;
  }
  .cta__grid :nth-child(2) {
    grid-column: 1/-1;
  }
}
.cta__input, .cta__textarea {
  display: block;
  width: 100%;
  padding: 0.8rem 1.5rem;
  height: 100%;
  font-size: 1.4rem;
  font-family: inherit;
  line-height: inherit;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
}
.cta__input:focus, .cta__textarea:focus {
  outline: 1px solid #4d8cf5;
}
.cta__textarea {
  resize: none;
}

.grid {
  display: grid;
  min-height: 60rem;
  grid-template-rows: minmax(70rem, 110vh);
  grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 15rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end];
  grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end];
  row-gap: 4.8rem;
}
@media only screen and (max-width: 56.25em) {
  .grid {
    grid-template-rows: minmax(60rem, 100vh);
    grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 11.296875rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end];
    grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 11.296875rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end];
  }
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
}
.flexbox__card-1-2 {
  flex: 1 0 50%;
}
@media only screen and (max-width: 37.5em) {
  .flexbox__card-1-2 {
    flex: 0 0 100%;
  }
}
.flexbox__card-1-3 {
  flex: 1 0 33.3333%;
  justify-self: center;
}
@media only screen and (max-width: 56.25em) {
  .flexbox__card-1-3 {
    flex: 1 0 50%;
  }
}
@media only screen and (max-width: 37.5em) {
  .flexbox__card-1-3 {
    flex: 0 0 100%;
  }
}
.flexbox__card-1-4 {
  flex: 1 0 25%;
}
@media only screen and (max-width: 56.25em) {
  .flexbox__card-1-4 {
    flex: 1 0 50%;
  }
}
@media only screen and (max-width: 29.9375em) {
  .flexbox__card-1-4 {
    flex: 0 0 100%;
  }
}

.content-wrapper {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
@media only screen and (max-width: 56.25em) {
  .content-wrapper {
    max-width: 90.375rem;
  }
}

.header {
  padding: 3.2rem 1.5rem;
  color: #fff;
  grid-column: full-start/full-end;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.26);
  text-align: center;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../img/hero.jpg);
  background-position: 0px 0px, center;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}
.header .content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header__text-box {
  max-width: 90rem;
}
.header__button-group {
  margin-top: 4rem;
}
.header__down {
  width: 100%;
}
.header__down-svg-wrapper {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width: 42px;
  height: 42px;
  color: #fff;
}
.header__down-svg-wrapper:hover {
  color: #4d8cf5;
}
.header__down-svg-wrapper svg {
  height: 100%;
  width: 100%;
  fill: currentColor;
  transition: color 300ms ease-in-out;
}

.navbar {
  position: relative;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.navbar--fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #dddddd;
  background-color: rgba(51, 51, 51, 0.95);
  padding: 0 2rem;
  -webkit-animation: moveInTopNav 0.4s ease-out;
  animation: moveInTopNav 0.4s ease-out;
}
@media only screen and (max-width: 56.25em) {
  .navbar--fixed .navbar__container {
    left: 6.2%;
    width: 90%;
  }
}
.navbar__logo {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: moveInLeft 1s ease-out;
  animation: moveInLeft 1s ease-out;
  padding: 3rem 1.5rem;
}
@media only screen and (max-width: 56.25em) {
  .navbar__logo {
    padding: 1.875rem;
  }
}
.navbar__logo img {
  width: 93px;
}
.navbar__container {
  --max-height: 0;
  transition: max-height 400ms ease;
}
@media only screen and (max-width: 56.25em) {
  .navbar__container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    max-height: var(--max-height);
    overflow: hidden;
  }
  .navbar__container.active {
    max-height: var(--max-height);
  }
}
.navbar__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  -webkit-animation: moveInRight 1s ease-out;
  animation: moveInRight 1s ease-out;
}
@media only screen and (max-width: 56.25em) {
  .navbar__list {
    background-color: #333;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 56.25em) {
  .navbar__item {
    width: 100%;
  }
}
.navbar__link, .navbar__link:link, .navbar__link:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  display: block;
  letter-spacing: initial;
  padding: 3rem 2rem;
  color: #fff;
  transition: color 400ms ease;
}
@media only screen and (max-width: 56.25em) {
  .navbar__link, .navbar__link:link, .navbar__link:visited {
    text-align: left;
  }
}
.navbar__link:hover {
  color: #4d8cf5;
}
.navbar__link:active {
  color: #fff;
}
.navbar__link.active {
  color: #4d8cf5;
}

.hamburger {
  display: none;
  position: relative;
  width: 52px;
  height: 52px;
  cursor: pointer;
  transition: all 400ms ease;
}
@media only screen and (max-width: 56.25em) {
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.hamburger span {
  display: block;
  width: 22px;
  height: 3px;
  background-color: #fff;
  border-radius: 10px;
  transition: all 400ms ease;
}
.hamburger span:not(:last-child) {
  margin-bottom: 4px;
}
.hamburger.active {
  background-color: #333;
}
.hamburger.active span {
  margin-bottom: 0;
}
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(2px, 2px);
}
.hamburger.active span:nth-child(2) {
  width: 0;
}
.hamburger.active span:nth-child(3) {
  transform: rotate(-225deg) translate(-2px, 2px);
}

.footer {
  grid-column: full-start/full-end;
  padding: 2.2rem 0;
  text-align: center;
  background-color: #222;
}
.footer__links {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__link {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width: 4.6rem;
  height: 4.6rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__link:hover {
  color: #0082f3;
}
.footer__svg {
  width: 75%;
  height: 75%;
  fill: currentColor;
  transition: color 300ms ease-in-out;
}
.footer__copyright-link, .footer__copyright-link:link, .footer__copyright-link:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: #4d8cf5;
  transition: color 300ms ease-in-out;
}
.footer__copyright-link:hover {
  color: #000;
}

.section {
  padding: 0 1.5rem;
}
.section--thin {
  grid-column: center-start/center-end;
  margin-top: 4.8rem;
}
.section--wide {
  grid-column: full-start/full-end;
  padding: 4.8rem 0;
}

.section-portfolio.section--wide {
  margin: 4.8rem 0;
  padding: 0;
}

.section-testimonials {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/testimonials-bg.jpg);
  text-align: center;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.26);
  background-position: 0px 0px, center;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.section-video {
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  text-align: center;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.26);
}