.section {
  padding: 0 1.5rem;

  &--thin {
    grid-column: center-start / center-end;
    margin-top: $section-gutter-lg;
  }

  &--wide {
    grid-column: full-start / full-end;
    padding: $section-gutter-lg 0;
  }
}

.section-portfolio.section--wide {
  margin: $section-gutter-lg 0;
  padding: 0;
}

.section-testimonials {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-black, 0.7),
      rgba($color-black, 0.7)
    ),
    url(../img/testimonials-bg.jpg);
  @include align-center;
  box-shadow: $box-shadow-medium;
  background-position: 0px 0px, center;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.section-video {
  position: relative;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-black, 0.7),
    rgba($color-black, 0.7)
  );
  @include align-center;
  box-shadow: $box-shadow-medium;
}
