.section {
  padding: 0 1.5rem;

  &--thin {
    grid-column: center-start / center-end;
    margin-top: $section-gutter;
  }

  &--wide {
    grid-column: full-start / full-end;
    padding: 0;
  }
}
