.header {
  padding: 3.2rem 1.5rem;
  color: $color-white;
  grid-column: full-start / full-end;
  box-shadow: $box-shadow-medium;
  @include align-center;

  background-image: linear-gradient(
      to right bottom,
      rgba($color-black, 0.75),
      rgba($color-black, 0.75)
    ),
    url(../img/hero.jpg);
  background-position: 0px 0px, center;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;

  .content-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__text-box {
    max-width: 90rem;
  }

  &__button-group {
    margin-top: $gutter-extra-large;
  }
}
