.about-box {
    display: flex;
    align-items: center;
    
    &__text {
        flex: 0 1 50%;
    }

    &__image {
        flex: 0 1 50%;
        @include flex-center;

        // img {}
    }
}