.btn {
  &,
  &:link,
  &:visited {
    @include a-element-reset;
    padding: 1rem 3rem;
    border-radius: 1rem;
    border: 1px solid $color-blue-light;
    color: $color-white;
    margin: 1rem;
    transition: all $transition-main;
  }

  &:hover {
    transform: scale(1.07) translateY(-3px);
    box-shadow: $box-shadow-light;
  }

  &:active {
    transform: scale(1.03) translateY(-1px);
    box-shadow: $box-shadow-lighest;
  }

  &--animated {
    animation: moveInBottom 0.75s ease-out 0.75s;
    animation-fill-mode: backwards;
  }

  &--blue {
    &,
    &:link,
    &:visited {
      background-color: $color-blue-light;
    }
    &:hover {
      background-color: $color-black-medium;
      border: 1px solid $color-black-medium;
    }
  }

  &--transparent {
    &,
    &:link,
    &:visited {
      background-color: transparent;
    }
    &:hover {
      background-color: $color-blue-light;
    }
  }

  &--color-black {
    &,
    &:link,
    &:visited {
      color: $color-black-light;
    }

    &:hover {
      color: $color-white;
    }
  }

  &--submit {
    line-height: inherit;
    letter-spacing: inherit;
    font-size: inherit;
  }
}

.btn-readmore {
  &,
  &:link,
  &:visited {
    @include a-element-reset;
    color: $color-blue-light;

    display: flex;
    align-items: center;
  }

  &__text {
    color: $color-blue-light;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: color $transition-main, margin-right $transition-main;
  }

  // &__svg-wrapper {}

  &__svg {
    fill: $color-blue-light;
    width: 1.5rem;
    height: 1.5rem;
    transition: fill $transition-main;
  }

  &:hover &__text {
    color: $color-black;
    margin-right: 2rem;
  }

  &:hover &__svg {
    fill: $color-black;
  }
}
