.overlay {
  position: relative;
  max-width: 100%;
  align-items: center;

  &__img {
    @include img-style;
  }

  &__background {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color-blue-light, 0.75);
    opacity: 0;
    z-index: 1;
    transition: $transition-secondary;
    @include flex-center-center;
  }

  &__content {
    opacity: 0;
    transform: translateY(3rem);
    transition: $transition-secondary;
    transition-delay: 100ms;
    display: flex;

    h3 {
      color: $color-white;
      text-shadow: $box-shadow-letter;
    }
  }

  &__link {
    @include a-element-reset;
    width: 3.2rem;
    height: 3.2rem;
    background-color: $color-black-medium;
    color: $color-white;
    transition: $transition-secondary;
    @include flex-center-center;
  }

  &__svg {
    fill: currentColor;
    width: 50%;
    height: 50%;
    transition: $transition-main;
  }

  &:hover &__background {
    opacity: 1;
  }

  &:hover &__content {
    opacity: 1;
    transform: translateY(0);
  }

  &__link:hover {
    background-color: $color-white;
  }

  &__link:hover &__svg {
    fill: $color-blue-light;
  }
}
