.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  align-items: start;
  gap: 4rem;

  &__svg {
    fill: $color-blue-light;
    height: 3.6rem;
    width: 3.6rem;
  }

  // &__card {}
}
