body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 2.2rem;
  color: $color-black-light;
  font-size: $default-font-size;
}

%heading {
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  color: $color-black-light;
  font-weight: 700;
}

.heading-primary {
  @extend %heading;
  font-size: 5.8rem;
  line-height: 1.5;
  color: $color-white;
  animation: moveInLeft 1s ease-out;
  @include respond(phone) {
    font-size: 4.5rem;
  }
}

.heading-secondary {
  @extend %heading;
  font-size: 3.2rem;
  line-height: 3.6rem;
  @include respond(phone) {
    font-size: 3rem;
  }
}

.heading-tertiary {
  @extend %heading;
  font-size: 2rem;
  line-height: 2.8rem;
  &--transform-initial {
    text-transform: initial;
  }
}

.heading-quartary {
  @extend %heading;
  font-size: $default-font-size;
  line-height: 2.2rem;
}

.paragraph {
  color: $color-black-lightest;
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-style: italic;

  &--header {
    font-style: normal;
    animation: moveInRight 1s ease-out;
    color: $color-white;
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  &--news {
    color: $color-grey-medium;
    font-size: 1.4rem;
    font-weight: 600;
  }

  &--style-normal {
    font-style: initial;
  }

  &--testimonials-white {
    font-size: 1.8rem;
    line-height: 1.8;
    text-transform: none;
    color: $color-white;
  }

  &--testimonials-blue {
    color: $color-blue-light;
    font-size: $default-font-size;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
  }

  &--video {
    font-size: 2.2rem;
    line-height: 3.4rem;
    color: $color-white;
    text-shadow: $box-shadow-letter;
  }

  &--footer {
    font-style: normal;
    font-size: 1.3rem;
    color: $color-grey;
    font-weight: 600;
    text-transform: uppercase;
  }
}
