//COLORS
$color-blue-dark: #0082f3;
$color-blue-light: #4d8cf5;

$color-black: #000;
$color-black-medium: #222;
$color-black-light: #333;
$color-black-lightest: #5c5c5c;

$color-grey: #777;
$color-grey-medium: #999;
$color-grey-light: #ccc;

$color-white: #fff;

/// FONTS
$default-font-size: 1.6rem;

// GUTTERS
$gutter-extra-small: 0.5rem;
$gutter-small: 1rem;
$gutter-small-medium: 1.5rem;
$gutter-medium: 2rem;
$gutter-large: 3rem;
$gutter-largest: 3.5rem;
$gutter-extra-large: 4rem;
//SECTION GUTTERS
$section-gutter-lg: 4.8rem;

//BOX SHADOW
$box-shadow-letter: 0 1px 0 $color-black;
$box-shadow-lighest: 0 0.5rem 1rem rgba($color-black, 0.2);
$box-shadow-light: 0 1rem 2rem rgba($color-black, 0.2);
$box-shadow-medium: 0 2rem 4rem rgba($color-black, 0.26);

// TRANSITIONS
$transition-main: 300ms ease-in-out;
$transition-secondary: 500ms ease-out;
$transition-nav: 400ms ease;
